<div>
  <div>
    <h1>{{title}}</h1>
  </div>
  <div>
    <ul>
      <li *ngFor="let todo of todosArray">
        <div class="content" [ngClass]="{completed: todo.status}">
          <label>
            <input type="checkbox" [(ngModel)]="todo.status"> {{todo.id}} - {{todo.text}}
            <button (click)="deleteItem(todo.text)">x</button>
          </label>
        </div>
      </li>
    </ul>
  </div>
  <div>
    <input type="text" placeholder="title" [(ngModel)]="newTitle">
    <input type="text" placeholder="text" [(ngModel)]="newText">
    <button (click)="addNew()">+</button>
  </div>
</div>

