.completed {
    text-decoration: line-through;
    color: #333333;
}

.content {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.list {
    display: flex;
    justify-content: center;
}
.content-frame {
   text-align: center;
}

label:hover {
    cursor: pointer;
}
